In [1]:
import tensorflow as tf

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.layers import Dense,Input,GlobalMaxPooling1D
from tensorflow.keras.layers import Conv1D,MaxPooling1D,Embedding
from tensorflow.keras.models import Model

In [3]:
df= pd.read_csv('/content/spam.csv', encoding='ISO-8859-1')

In [4]:
df.head

<bound method NDFrame.head of         v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will Ì_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]>

In [8]:
df= df.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"],axis=1)

In [9]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [18]:
df.columns = ['labels','data']

In [19]:
df.head

<bound method NDFrame.head of      labels                                               data
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham              Will Ì_ b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]>

In [20]:
df['b_labels'] = df['labels'].map({'ham':0,'spam':1})
y=df['b_labels'].values

In [44]:
y

array([0, 0, 1, ..., 0, 0, 0])

In [21]:
x_train,x_test,y_train,y_test = train_test_split(df['data'],y,test_size=0.33)

In [45]:
max_vocab_size = 20000
tokenizer = Tokenizer(num_words = max_vocab_size)

In [46]:
tokenizer

In [47]:
tokenizer.fit_on_texts(x_train)

In [48]:
sequences_train = tokenizer.texts_to_sequences(x_train)
sequences_test= tokenizer.texts_to_sequences(x_test)

In [71]:
sequences_test[0]

[579, 1926, 39, 3, 17, 3, 7055, 4, 358, 7, 17, 3, 12]

In [70]:
sequences_train[0]

[38,
 3427,
 1770,
 346,
 296,
 1110,
 382,
 199,
 401,
 106,
 1251,
 49,
 64,
 1,
 141,
 59,
 151]

In [49]:
x_train[0]

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [72]:
len(sequences_train[0])

17

In [61]:
#Convert sentences to sequences
max_vocab_size= 20000
tokenizer = Tokenizer(num_words = max_vocab_size)
tokenizer.fit_on_texts(x_train)
sequences_train = tokenizer.texts_to_sequences(x_train)
sequences_test= tokenizer.texts_to_sequences(x_test)

In [73]:
#check word index mapping (to check the number of words in vocabulary)
word2idx = tokenizer.word_index
V= len(word2idx)
print('Total number of unique tokens are : %s'%V)

Total number of unique tokens are : 7193

In [74]:
#pad sequence (to get N * T matrix)

data_train = pad_sequences(sequences_train)
print('Shape of data train tensor:',data_train.shape)

#N : number of samples and T: Number of time steps

Shape of data train tensor: (3733, 189)

In [75]:
#set the value of T to get sequence length
T= data_train.shape[1]

In [76]:
print(T)

189

In [90]:
#pad the test set
data_train = pad_sequences(sequences_test,maxlen=T)
#maxen = T, to truncate longer senteces in test set
print('Shape of data train tensor: ', data_train.shape)

Shape of data train tensor:  (1839, 189)

In [91]:
data_train[0]

array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
        579, 1926,   39,    3,   17,    3, 7055,    4,  358,    7,   17,
          3,   12], dtype=int32)

In [92]:
T = data_train.shape[1]

In [93]:
print(T)

189

In [94]:
#pad the test set
data_test = pad_sequences(sequences_test,maxlen=T)
#maxen = T, to truncate longer senteces in test set
print('Shape of data test tensor: ', data_test.shape)

Shape of data test tensor:  (1839, 189)

BUILING THE MODEL

In [95]:
#create the model
#choose embedding dimensionality 
D= 20 # this is a hyper parameter, we can choose any word vector size that we want

#input layer
i= Input(shape=(T,)) #input layer takes in sequences of integers, so shape is T

#Embedding layer
x= Embedding(V+1,D)(i) #this takes in sequences of integers and returns sequences of word vectors
#This will be an N * T * D array
#We want size of embedding to (V+1) x D, because first word index starts from 1 and not 0

# First CNN layer
x= Conv1D(32,3,activation='relu')(x)
x=MaxPooling1D(3)(x)

#Second CNN layer
x= Conv1D(64,3,activation='relu')(x)
x=MaxPooling1D(3)(x)

#Third CNN layer
x= Conv1D(128,3,activation='relu')(x)
x=MaxPooling1D(3)(x)

#Dense layer
x= Dense(1,activation='sigmoid')(x)

model= Model(i,x)

In [96]:
#compile the model
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [97]:
#Train the model
r = model.fit(x=data_train,y=y_train, epochs=5, validation_data=(data_test,y_test))

ValueError: ignored

In [ ]:
import matplotlib.pyplot as plt
plt.plot(r.history['loss'],label='Loss')
plt.plot(r.history)['val_loss'], label='Validation Loss')
plt.legend()
plt.show()

In [ ]:
#Accuracy per iteration 
plt.plot(r.history['accuracy'],label='Accuracy')
plt.plot(r.history['val_accuracy'],label='Validation accuracy')
plt.legend()
plt.show()